filter {
    if [type] == "jira_1" {
        json {
            source => "message"
        }
        if [log] =~ /^\d{4}-.*$/ {
            grok {
                patterns_dir => ["/etc/logstash/patterns"]
                match => { "log" => "^%{JIRA_LOG_1}$" }
            }
            date {
                match => [ "log_time", "ISO8601" ]
                timezone => "UTC"
                target => "@timestamp"
            }
        } else if [log] =~ /^\d{2}-.*$/ {
            grok {
                patterns_dir => ["/etc/logstash/patterns"]
                match => { "log" => "^%{JIRA_LOG_2}$" }
            }
            date {
                match => [ "log_time", "dd-MMM-yyyy HH:mm:ss.SSS" ]
                timezone => "UTC"
                target => "@timestamp"
            }
        } else {
            date {
                match => [ "time", "ISO8601" ]
                timezone => "UTC"
                target => "@timestamp"
            }
        }
    }
}
