filter {
    if [type] == "nginx_proxy" {
        json {
            source => "message"
        }
        grok {
            patterns_dir => ["/etc/logstash/patterns"]
            match => { "log" => "^%{NGINX}$" }
        }
        date {
            match => [ "timestamp", "dd/MMM/yyyy:HH:mm:ss Z" ]
            target => "@timestamp"
        }
        geoip {
            source => "clientip"
            target => "geoip"
            database => "/etc/geo/GeoLiteCity.dat"
            add_field => [ "[geoip][coordinates]", "%{[geoip][longitude]}" ]
            add_field => [ "[geoip][coordinates]", "%{[geoip][latitude]}"  ]
        }
        mutate {
            convert => [ "[geoip][coordinates]", "float"]
        }
    }
}
